body {
    background: linear-gradient(to right, #E0F8E0, #FFFFFF);
    min-height: 100vh;
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;  
}
.card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 50px;
    width: 450px;
    height: 300px;
    text-align: center;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
