/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-fondo);
}

::-webkit-scrollbar-thumb {
  background: var(--color-borde);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primario);
}

/* Solución para el autocompletado del navegador (Autofill) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--color-primer-plano) !important;
}

@import "tailwindcss";